<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noticia Principal</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>El Noticion</h1>
        <div class="menu-icon">&#9776;</div>
      </div>
      <nav class="menu-items">
        <ul class="menu">
          <li><a href="../../index.html">Inicio</a></li>
          <li><a href="../contact/index.html">Contacto</a></li>
          <!-- Enlace a la página de contacto -->
        </ul>
        <div class="search">
          <input type="text" placeholder="Buscar..." />
          <button>Buscar</button>
        </div>
      </nav>
    </header>

    <main>
      <article class="main-news">
        <img
          src="../../public/imagen_principal.jpg"
          alt="Descripción de la imagen de la noticia"
        />
        <h1>¡Descubrimiento revolucionario en el campo de la medicina!</h1>
        <p>
          Investigadores de renombre internacional han anunciado el
          descubrimiento de un tratamiento revolucionario que promete curar
          enfermedades crónicas en menos de una semana. Este avance médico
          podría transformar la industria farmacéutica y cambiar la vida de
          millones de personas en todo el mundo. El tratamiento, denominado
          "Terapia de Regeneración Celular Rápida" (TRCR), ha sido desarrollado
          después de décadas de investigación intensiva en el campo de la
          medicina regenerativa.
        </p>
        <p>
          La TRCR implica la manipulación genética de las células madre del
          paciente para acelerar su capacidad de regeneración y reparación. A
          diferencia de los tratamientos convencionales que pueden llevar meses
          o incluso años para mostrar resultados, la TRCR ha demostrado ser
          extremadamente efectiva en ensayos clínicos, con pacientes que
          experimentan mejoras significativas en cuestión de días.
        </p>

        <p>
          Según el Dr. Alejandro Gómez, uno de los principales investigadores
          detrás del desarrollo de la TRCR, "Este tratamiento tiene el potencial
          de revolucionar completamente la forma en que abordamos las
          enfermedades crónicas. Ya no tendremos que depender de medicamentos
          costosos y procedimientos invasivos que solo tratan los síntomas. Con
          la TRCR, podemos abordar la raíz del problema y proporcionar una cura
          real y duradera".
        </p>

        <p>
          La noticia del descubrimiento ha generado un gran entusiasmo en la
          comunidad médica y científica, con muchos expertos que lo ven como un
          hito significativo en la historia de la medicina. Sin embargo, también
          ha suscitado preocupaciones éticas y regulatorias sobre el uso y la
          seguridad de la terapia genética en humanos.
        </p>

        <p>
          A pesar de estos desafíos, los investigadores están decididos a
          avanzar con la TRCR y llevarla a cabo ensayos clínicos más amplios en
          los próximos meses. Si los resultados continúan siendo tan
          prometedores como hasta ahora, la TRCR podría estar disponible para el
          público en general en un futuro no muy lejano, ofreciendo esperanza y
          curación a millones de personas que luchan contra enfermedades
          crónicas en todo el mundo.
        </p>
      </article>

      <section class="related-news">
        <h2>Noticias Relacionadas</h2>
        <ul>
            <li><a href="#">Nuevo estudio revela avances en la terapia génica</a></li>
            <li><a href="#">Investigadores descubren posible vínculo entre el microbioma intestinal y el autismo</a></li>
            <li><a href="#">Avances en la inteligencia artificial podrían revolucionar el diagnóstico médico</a></li>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 El Noticion</p>
    </footer>
  </body>
</html>
