<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubierto nuevo planeta habitable</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>El Noticion</h1>
            <div class="menu-icon">&#9776;</div>
        </div>
        <nav class="menu-items">
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
            <div class="search">
                <input type="text" placeholder="Buscar...">
                <button>Buscar</button>
            </div>
        </nav>
    </header>

    <main>
        <article class="main-news">
            <img src="../../public/imagen_segundaria.jpg" alt="Imagen del nuevo planeta habitable">
            <h1>Descubierto nuevo planeta habitable</h1>
            <p>Científicos han anunciado el descubrimiento de un nuevo planeta potencialmente habitable, situado en una zona templada de su sistema solar. Este hallazgo podría tener implicaciones significativas para la búsqueda de vida extraterrestre y la exploración espacial.</p>
        </article>

        <section class="related-news">
            <h2>Noticias Relacionadas</h2>
            <ul class="related-news-list">
                <li><a href="#">Nuevo avance en la investigación contra el cáncer</a></li>
                <li><a href="#">Descubren especie de dinosaurio hasta ahora desconocida</a></li>
                <li><a href="#">Lanzamiento del nuevo satélite de observación meteorológica</a></li>
            </ul>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 El Noticion</p>
    </footer>
</body>
</html>
